<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Game Statistics</title>
    <link href="../static/main.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>
</head>
<body>
    <div class="container" id="grad">
        <h1>Board Game Statistics</h1>
        <form action="/">
        <select name="feature_name">
            {% for feature in feature_names %}
                {% if feature == current_feature_name %}
                    <option selected value="{{ feature }}">{{ feature }}</option>
                {% else %}
                    <option value="{{ feature }}">{{ feature }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
        </form>
        <div class="center">
        {{ script|safe }}
        {{ div|safe }}
        </div>
    </div>
</body>
</html>